/* -----------------------------------------
* VARIABLES
-------------------------------------------*/

// COLORS
$col-dark: #222;
$col-gray-700: #727586;
$col-gray-500: #dad9da;
$col-light: #fff;

// LAYOUT
$header-height: 60px;
$sidebar-width: 200px;